class_excercises/16_sept/test/class_Sep14/analysis/hg38.ncbiRefSeq.gtf
class_excercises/16_sept/test/class_Sep14/input_data/hg38.ncbiRefSeq.gtf
class_excercises/16_sept/test/class_Sep14/analysis/refseq_chr21.gtf
class_excercises/14_sept/hg38.ncbiRefSeq.gtf
class_excercises/14_sept/analysis/hg38.ncbiRefSeq.gtf
class_excercises/14_sept/input_data/hg38.ncbiRefSeq.gtf
class_excercises/14_sept/analysis/refseq_chr21.gtf
